# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [6]:
import pandas as pd
import re  

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

def standardize_column_name(name):
    name = name.lower()
    name = name.replace(' ', '_')
    name = re.sub(r'\bst\b', 'state', name)
    return name

df.columns = [standardize_column_name(col) for col in df.columns]

print("Standardized column names:", df.columns)

Standardized column names: Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [9]:
df['gender'] = df['gender'].replace({
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M',
    'male': 'M'
})

state_map = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}
df['state'] = df['state'].replace(state_map)

df['education'] = df['education'].replace({
    'Bachelors': 'Bachelor'
})

df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str).str.replace('%', '').astype(float)

df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

print(df.head())

  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [14]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

print(df.columns)

df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype(str).str.replace('%', '').astype(float)

def extract_middle_value(s):
    parts = str(s).split('/')
    if len(parts) == 3:
        return int(parts[1])
    return 0

df['Number of Open Complaints'] = df['Number of Open Complaints'].apply(extract_middle_value).astype(int)

print(df.dtypes)
print(df.head())

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints      int32
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
0      0.0                1000.0                          0   Personal Auto
1      0.0                  94.0                          0   Personal Auto
2  48767.0                 108.0                          0   Personal Auto
3      0.0                 106.0                          0  Corporate Auto
4  36357.0                  68.0                          0   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [17]:
null_counts = df.isnull().sum()
print("Null values in each column:\n", null_counts)

Null values in each column:
 Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints       0
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [18]:
for col in df.select_dtypes(include=['float', 'int']).columns:
    median_value = df[col].median()
    df[col].fillna(median_value, inplace=True)
    print(f"Filled nulls in '{col}' with median value of {median_value}")

for col in df.select_dtypes(include=['object']).columns:
    mode_value = df[col].mode()[0]
    df[col].fillna(mode_value, inplace=True)
    print(f"Filled nulls in '{col}' with mode value of '{mode_value}'")

null_counts_after = df.isnull().sum()
print("Null values after handling:\n", null_counts_after)

Filled nulls in 'Customer Lifetime Value' with median value of 588174.235
Filled nulls in 'Income' with median value of 36234.0
Filled nulls in 'Monthly Premium Auto' with median value of 83.0
Filled nulls in 'Number of Open Complaints' with median value of 0.0
Filled nulls in 'Total Claim Amount' with median value of 354.729129
Filled nulls in 'Customer' with mode value of 'AA71604'
Filled nulls in 'ST' with mode value of 'Oregon'
Filled nulls in 'GENDER' with mode value of 'F'
Filled nulls in 'Education' with mode value of 'Bachelor'
Filled nulls in 'Policy Type' with mode value of 'Personal Auto'
Filled nulls in 'Vehicle Class' with mode value of 'Four-Door Car'
Null values after handling:
 Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64

C:\Users\cmati\AppData\Local\Temp\ipykernel_35240\3112213467.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
C:\Users\cmati\AppData\Local\Temp\ipykernel_35240\3112213467.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)

In [19]:
for col in df.select_dtypes(include=['float', 'int']).columns:
    df[col] = df[col].astype(int)

print(df.dtypes)
print(df.head())

Customer                     object
ST                           object
GENDER                       object
Education                    object
Customer Lifetime Value       int32
Income                        int32
Monthly Premium Auto          int32
Number of Open Complaints     int32
Policy Type                  object
Vehicle Class                object
Total Claim Amount            int32
dtype: object
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington      F                Master                   588174
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [22]:
# Your code hereduplicates = df.duplicated()
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 2936

In [23]:
df_cleaned = df.drop_duplicates(keep='first')

df_cleaned.reset_index(drop=True, inplace=True)

duplicates_after = df_cleaned.duplicated().sum()
print(f"Number of duplicate rows after cleaning: {duplicates_after}")

Number of duplicate rows after cleaning: 0

In [24]:
df_cleaned.to_csv('cleaned_file_lab.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [28]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [31]:
# Your code here